networkx~=2.5
numpy>=1.14.2, <2.0
pandas>=1.0, <2.0
pathos>=0.2.7, <0.3.0
pgmpy>=0.1.12, <0.2.0
scikit-learn>=0.22.0, <0.25.0, !=0.22.2.post1, !=0.24.1; python_version < '3.9'
scikit-learn>=0.24.0, <0.25.0, !=0.24.1; python_version == '3.9'
scipy>=1.2.0, <1.7
torch>=1.7, <2.0
wrapt>=1.11.0, <1.13
